.visually__hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ==========COMMON========== */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --footer-links-color: #ffffff99;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --header-background-color: #ffffff;
  --ourteam-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-background-color: #2f303a;
  --white-background-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.block {
  display: block;
}

.inline__block {
  display: inline-block;
}

img {
  display: block;
}

.images {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__form--input {
  padding-bottom: 10px;
  padding-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal__form--input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form--input:focus + .modal__focus {
  fill: var(--accent-color);
}

.modal__form--button {
  display: block;
  margin: 54px auto 0px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: none;
}

.modal__form--checbox {
  margin-right: 7px;
}

.modal__form--textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1, 67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  resize: none;
}

.modal__form--textarea:focus {
  color: var(--secondary-text-color);
}

.modal__form--checbox:checked + .check .label__input--checked {
  opacity: 1;
}

.modal__form--checbox:checked .modal__agreement::before {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__paragraph {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.modal__words {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__name--area {
  display: block;
  position: relative;
}

.modal__person--img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(12px) translateY(11px);
}

.modal__phone--area {
  display: block;
  position: relative;
}

.modal__phone--img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(12px) translateY(11px);
}

.modal__email--area {
  display: block;
  position: relative;
}

.modal__email--img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(12px) translateY(11px);
}

.modal__agreement {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__agreement::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 13px;
  margin-top: 3px;
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.label__input--checked {
  opacity: 0;
  margin-right: 7px;
  margin-left: 13px;
  border: none;
  outline: none;
}

.mailing {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--third-text-color);
}

.modal__link {
  color: var(--accent-color);
}

.close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  border: 1px solid #0000001a;
  border-radius: 50%;
}

.close__button:hover .close__icon,
.close__button:focus .close__icon {
  fill: var(--accent-color);
}

.sociallink__list {
  display: inline-flex;
  align-items: center;
}

.sociallink__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallink__link:hover, .sociallink__link:focus {
  background-color: var(--accent-color);
  fill: var(--third-text-color);
}

.sociallink__link:not(:last-child) {
  margin-right: 10px;
}

.sociallink__link:hover .sociallink__link,
.sociallink__link:focus .sociallink__link {
  background-color: var(--accent-color);
  fill: var(--third-text-color);
}

.sociallink__element {
  display: block;
}

.sociallink__link:hover .sociallink__icon,
.sociallink__link:focus .sociallink__icon {
  fill: var(--third-text-color);
  background-color: var(--accent-color);
}

.sociallink__icon {
  fill: #afb1b8;
}

.sociallink__list--footer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 206px;
}

.footer__social--links {
  padding-top: 12px;
  width: calc((100% - 30px) / 2);
}

.sociallink__element--footer {
  display: block;
}

.sociallink__element--footer:not(:last-child) {
  margin-right: 10px;
}

.sociallink__link--footer {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallink__link--footer:hover, .sociallink__link--footer:focus {
  background-color: var(--accent-color);
}

.sociallink__link--footer:hover .sociallink__icon--footer,
.sociallink__link--footer:focus .sociallink__icon--footer {
  fill: var(--third-text-color);
  background-color: var(--accent-color);
}

.sociallink__icon--footer {
  fill: #afb1b8;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  text-decoration: none;
  color: var(--third-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__leftside {
  display: flex;
  width: calc((100% - 30px) / 2);
}

.footer__rightside {
  width: calc((100% - 30px) / 2);
  position: relative;
  vertical-align: baseline;
}

.footer__address {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer__contacts {
  list-style: none;
}

.mail__phone {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-links-color);
}

.footer__wrapper {
  display: flex;
  vertical-align: baseline;
}

.join__us {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.footer__email--input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid #ffffff4d;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button--send {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--third-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button__send {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-28px) translateY(13px);
}

.footer__block--width {
  width: calc((100% - 30px) / 2);
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__logo {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

span {
  color: var(--accent-color);
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -32px;
}

.nav__link--current {
  color: #2196f3;
}

.header__contacts {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contacts__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link:hover .contacts__link--mail,
.contacts__link:focus .contacts__link--mail {
  fill: var(--accent-color);
}

.contacts__link:hover .contacts__link--phone,
.contacts__link:focus .contacts__link--phone {
  fill: var(--accent-color);
}

.contacts__link--mail {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.contacts__link--phone {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  list-style: none;
}

.nav__list:not(:last-child) {
  margin-right: 50px;
}

.header__mail:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../../images/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero__button {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.peculiarities__list {
  list-style: none;
  display: block;
}

.peculiarities__list .peculiarities__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.peculiarities__link {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .peculiarities__link {
    width: 450px;
  }
  .peculiarities__link .peculiarities__link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__link {
    width: calc((100% - 60px) / 2);
  }
}

.peculiarities__link .peculiarities__link:nth-child(-n + 2) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .peculiarities__link {
    width: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.peculiarities__logo {
  margin-bottom: 30px;
}

.peculiarities__heading {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .peculiarities__heading {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__heading {
    text-align: left;
  }
}

.peculiarities__par {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.filter {
  list-style: none;
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.example__items {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.example__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__thumb::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__links:hover .example__thumb::before,
.example__links:focus .example__thumb::before {
  opacity: 1;
  transform: translateY(0);
}

.example__cover--text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--third-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__links:hover .example__cover--text,
.example__links:focus .example__cover--text {
  transform: translateY(0);
}

.portfolio__image {
  display: block;
}

.example__pictures {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 90px) / 3);
}

.example__picture--signature {
  background-color: var(--white-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.example__links {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__links:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.mail__phone {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__phone:hover, .mail__phone:focus {
  color: var(--accent-color);
}

.rubrics {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .rubrics {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.rubrics__team {
  list-style: none;
  display: block;
}

@media screen and (min-width: 480px) {
  .rubrics__team .rubrics__team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .rubrics__team {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 60px) / 2);
  }
  .rubrics__team .rubrics__team:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .rubrics__team {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    width: 100%;
  }
}

.team__item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 120px) / 4);
}

/* .team-item:not(:last-child) {
  margin-right: 30px;
} */
.team {
  background-color: var(--ourteam-background-color);
}

.staff__signature {
  text-align: center;
  background-color: var(--white-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.staff__professions {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.rubrics__examples {
  list-style: none;
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.rubrics__image {
  margin-top: 30px;
  margin-left: 30px;
  max-width: calc((100% - 90px) / 3);
  position: relative;
}

.rubrics__image__cover--desctop {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.rubrics__image__cover--mobile {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.rubrics__image__cover--design {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.our-work {
  padding-top: 0px;
  background-color: var(--primary-background-color);
}

.regular__clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}

.clients:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: block;
  width: 100%;
}

.clients__list {
  list-style: none;
  display: flex;
  width: calc((100% - 180px) / 6);
}

.clients__logo {
  fill: #afb1b8;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.work__examples {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=main.css.map */