.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-background-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__paragraph {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.modal__words {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.modal__name--area {
  display: block;
  position: relative;
}

.modal__person--img {
  position: absolute;

  top: 0;
  left: 0;

  transform: translateX(12px) translateY(11px);
}

.modal__phone--area {
  display: block;
  position: relative;
}

.modal__phone--img {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(12px) translateY(11px);
}

.modal__email--area {
  display: block;
  position: relative;
}

.modal__email--img {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(12px) translateY(11px);
}

.modal__agreement {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 13px;
    margin-top: 2px;
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-text-color);
  }
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  // margin-bottom: 30px;
  width: 100%;
}

.label__input--checked {
  opacity: 0;
  margin-right: 7px;
  margin-left: 13px;
  border: none;
  outline: none;
}

.mailing {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--third-text-color);

  @media screen and (max-width: 767px) {
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-left: 100px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

.modal__link {
  color: var(--accent-color);
}

.mobile__menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--white-background-color);
  width: 100vw;
  height: 100vh;
  max-height: 796px;
  overflow-y: scroll;
  transform: translateY(-100%);

  transition: transform 500ms linear;
}

.mobile__menu--list {
  list-style: none;
}

.mobile__menu__list--link {
  display: block;
  text-decoration: none;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.mobile__menu--nav {
  margin-bottom: 302px;
}

.menu__contacts--link {
  text-decoration: none;
}

.menu__contacts--list {
  list-style: none;
}

.menu__sociallinks--link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
}

.menu__sociallinks--list {
  list-style: none;
}

.mobile__menu.is-open {
  transform: translateY(0%);
}

.mobile__menu__close--btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile__menu__close--btn:hover .mobile__menu__close--icon {
  fill: var(--accent-color);
}

.mobile__current--link {
  color: var(--accent-color);
}

.mobile__menu--container {
  padding-left: 40px;
  padding-top: 48px;
}

.mobile__current--tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: var(--accent-color);

  margin-bottom: 32px;
}

.mobile__current--email {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mobile__sociallink {
  display: flex;
  width: 357px;
  justify-content: space-between;
  color: var(--accent-color);
}

.mobile__sociallink:not(:last-child) {
  margin-right: 20px;
}
